.App {
  color: #fff;
}

.form-control {
  display: block;
  padding: 0.475em;
  width: calc(100% - 3em);
  box-sizing: border-box;
  border: 0px;
  border-radius: 5px;
  height: 2rem;
  margin: 1.5em 1.5em 0.5em 1.5em;
}

.submit-button {
  margin-top: 0.5em;
  font-size: 16px;
  background-color: #ff786ce6;
  border: 0;
  border-radius: 5px;
  padding: 1em;
  color: white;
}